@model LetsDisc.Questions.Dto.CreateQuestionInput

@{
    ViewData["Title"] = "Create";
}

@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Questions/Index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Questions/Index.min.js" asp-append-version="true"></script>
    </environment>
}

<h2>
    @L("CreateQuestion")
</h2>

<form id="QuestionCreationForm">

    <div class="form-group">
        <label for="Title">@L("Title")</label>
        <input type="text" name="Title" class="form-control" placeholder="@L("Title")" required maxlength="64">
    </div>

    <div class="form-group">
        <label for="Description">@L("Body")</label>
        <input type="text" name="Body" class="form-control" placeholder="@L("Body")" maxlength="1024">
    </div>

    <button type="submit" class="btn btn-default">@L("Save")</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
