@model LetsDisc.Questions.Question

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpvoteCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpvoteCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ViewCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeletionTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeletionTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModificationTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModificationTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatorUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatorUser.EmailAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeleterUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeleterUser.EmailAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModifierUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModifierUser.EmailAddress)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
