@model LetsDisc.Questions.Dto.QuestionWithAnswersDto
@using LetsDisc.Web.Startup
@using LetsDisc.Web.Views
@using LetsDisc.Questions

@{
    ViewData["Title"] = "Questions";

}

@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Questions/Details.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Questions/Details.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @Model.Title
                </h2>
                <a class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right questions-id" asp-action="Index">
                    <i class="material-icons">list</i>
                </a>
                <a class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right questions-id" asp-route-id="@Model.Id" asp-action="Edit">
                    <i class="material-icons">edit</i>
                </a>
                <a class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right questions-id" asp-action="Create">
                    <i class="material-icons">add</i>
                </a>
            </div>
            <div class="body table-responsive">
                <div class="vote-layout">
                    <a data-question-id="@Model.Id" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right vote-up">
                        <i class="material-icons">arrow_drop_up</i>
                    </a>
                    <div class="upvote-count">@Model.UpvoteCount</div>
                    <a data-question-id="@Model.Id" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right vote-down">
                        <i class="material-icons">arrow_drop_down</i>
                    </a>
                </div>
                <div class="question-body">@Model.Body</div>

            </div>
            <div class="body">
                <h4>
                    @L("YourAnswer")
                </h4>
                <div class="wmd-panel">
                    <div id="wmd-button-bar"></div>
                    <label for="answer_question_body" class="required"></label>
                    <textarea class="wmd-input" id="ask_question_body"></textarea>
                </div>
                <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
            </div>
        </div>
    </div>
</div>
