@model IEnumerable<LetsDisc.Questions.Dto.QuestionDto>
@using LetsDisc.Web.Startup
@using LetsDisc.Web.Views
@using LetsDisc.Questions
@{
    ViewData["Title"] = "Questions";
    ViewBag.CurrentPageName = PageNames.Questions; // The menu item will be active for this page.
}

@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Users/Index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Users/Index.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("AllQuestions")
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
                <a class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right create-question" asp-action="Create">
                    <i class="material-icons">add</i>
                </a>
            </div>
            <div class="body table-responsive">
                <div id="questions">
                    @foreach (var quest in Model)
                    {
                        <div class="question-summary" id="@quest.Id">
                            <div class="status-container">
                                <div class="stats">
                                    <div class="votes">@quest.UpvoteCount votes</div>
                                    <div class="answers">0 answers</div>
                                </div>
                                <div class="views">@quest.ViewCount views</div>
                            </div>
                            <div class="summary">
                                <a asp-action="Details" asp-route-id="@quest.Id"><h4>@quest.Title</h4></a>
                                <div class="question-body">@quest.Body</div>
                                <div class="tags"></div>
                                <div class="user">
                                    @{
                                        var username = "admin";
                                        if (!(quest.CreatorUserName == "" || quest.CreatorUserName == null))
                                        {
                                            username = quest.CreatorUserName;

                                        }
                                    }
                                    by @username, @TimeAgo.GetTimeAgo(quest.CreationTime)
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
