@using LetsDisc.Web.Views.Shared.Components.TopBarLanguageSwitch
@model TopBarViewModel
@*<li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <i class="@Model.CurrentLanguage.Icon" title="@Model.CurrentLanguage.DisplayName"></i>
            <span>@Model.CurrentLanguage.DisplayName</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu pull-right">
            @foreach (var language in Model.Languages)
            {
                if (language.Name != Model.CurrentLanguage.Name)
                {
                    <li><a href="@(ApplicationPath)AbpLocalization/ChangeCulture?cultureName=@(language.Name)&returnUrl=@(Context.Request.Path)"><i class="@language.Icon"></i> @language.DisplayName</a></li>
                }
            }
        </ul>
    </li>*@

@if (Model.LoginInformations.User != null)
{
    <li class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Html.Raw(Model.GetShownLoginName())</li>
    <li><a href="@Url.Action("Logout", "Account")"><i class="material-icons">input</i></a></li>
}
else if (User.Identity.IsAuthenticated)
{
    <li class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a id="HeaderCurrentUserName">@Html.Raw(User.Identity.Name)</a></li>
    <li><a href="@Url.Action("LogoutFromExternal", "Account")"><i class="material-icons">input</i></a></li>
}
else
{
    <li><a href="@Url.Action("Login", "Account")" title="Login"><i class="material-icons">person</i></a></li>
    <li><a href="@Url.Action("Register", "Account")" title="Register"><i class="material-icons">person_add</i></a></li>
}
